#prev-page {
    margin-right: 10px;
}

#next-page {
    margin-left: 10px;
}

#result-info {
    margin-bottom: 3vh;
}

.results-container .col-md-11 {
    margin: auto;
}

.results-container #search-box {
    margin: 0;
    display: inline-block;
}

.url {
    padding: 3.5vh 0;
    border-top: 1px solid #ced4da;
}

.result-title {
    margin-bottom: .3rem;
    font-weight: 400;
}

.pager {
    text-align: center;
    margin: 40px auto auto auto;
    font-size: 1.25rem;
}

.pager > a, .pager > strong {
    margin: auto .6vw;
    padding: 7px;
}

.author-content th {
    font-weight: 1000;
    padding-right: 20px;
}

.author-content th, .author-content td {
        padding-top: 10px;
}

.author {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    font-size: .9rem;
}

.author-container {
    color: #8a8989;
    margin-bottom: .6rem;
}

.author-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: max-content;
    padding: 1.5em;
    z-index: 10;
    box-shadow: 0px 4px 9px -7px rgb(0,0,0,0.4);
    border: 1px solid #ced4da;
    /* transition: .4s ease-out; */
}

.author-content h5 {
    font-weight: 400;
}

.author:hover .author-content {
    display: block;
    /* transition: .4s ease-in; */
}

.description p {
    margin-bottom: 1em;
}

.doi-link {
    text-align: right;
}

.filter-box {
    font-size: .9em;
}

.ui.checked.checkbox [type='checkbox'] {
    margin-right: .5em;
}

i.fas.fa-angle-down.rotate-icon {
    float: right;
}

[v-cloak] {
    display: none;
}

.pager a {
    color: #007bff !important;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.pager {
    text-align: center;
    margin: auto;
}

.clear-filters-btn {
    border-radius: 10px;
    margin: 0 0 20px;
}

.filter-display-container {
    margin-bottom: 1em;
}

.filter-display {
    display: inline;
    margin-right: 1em;
}