#prev-page {
    margin-right: 10px;
}

#next-page {
    margin-left: 10px;
}

.results-container .col-md-11 {
    margin: auto;
}

.results-container #search-box {
    margin: 0;
    display: inline-block;
}

.url {
    margin-bottom: 1vh;
    padding-top: 1.5vh;
}

.pager {
    text-align: center;
    margin: 40px auto auto auto;
    font-size: 1.25rem;
}

.pager > a, .pager > strong {
    margin: auto .6vw;
    padding: 7px;
}

<<<<<<< HEAD
=======
.author-content th {
    font-weight: 1000;
    padding-right: 20px;
}

.author-content th, .author-content td {
        padding-top: 10px;
}

.author {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.author-container {
    color: #8a8989;
    margin-bottom: 1em;
}

.author-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: max-content;
    padding: 1.5em;
    z-index: 10;
    box-shadow: 0px 4px 9px -7px rgb(0,0,0,0.4);
    border: 1px solid #ced4da;
    /* transition: .4s ease-out; */
}

.author:hover .author-content {
    display: block;
    /* transition: .4s ease-in; */
}

.url > h5 {
    margin-bottom: 0;
}
>>>>>>> develop
