body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
    font-weight: 400;
}

.container-fluid {
    padding: 5vh 0;
}

.content {
    margin: auto;
}

#searchword {
    text-align: left;
    margin-top: 20px;
    display: none;
    font-size: 16px;
    color: #000;
}

.searchword {
    font-weight: bold;
    color: #000000;
}

.search-bar-wrapper {
    margin: 20px auto;
    position: relative;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    width: 100%;
    height: 2.5em;
    border: 1px solid #ced4da;
    overflow: hidden;
    box-shadow: 0px 4px 9px -7px rgb(0,0,0,0.4);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: left;
}

.search-bar-wrapper:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

button.search-button {
    float: left;
    padding: 0 2vw !important;
    width: min-content;
    height: 100%;
    margin: auto !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    position: absolute;
    right: 0;
    background-color: #ced4da;
    transition: .15s;
}

button.search-button:hover {
    background-color: #bdc2c7;
}

#search-box {
    width: 100%;
    height: 100%;
    float: left;
    padding: 0 20px;
    font-size: 18px;
    /* border-radius: 15px; */
    -moz-border-radius: 15px;
    /* -webkit-border-radius: 15px; */
    border: none !important;
}

.search-container {
    width: 90%;
    height: 10%;
    margin: auto;
    text-align: center;
    padding: 15vh 0;
}

#search-container {
    text-align: center;
}

.search-form {
    padding-top: 15px;
    padding-bottom: 30px;
}
.search_button {
    position: absolute;
    right: 0;
    background-color: #4D90FE;
    border: #000000 solid 1px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#homepage-logo img{
    height: 130px;
    margin-bottom: 30px;
}


em {
    background-color:#FFFF00;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 5px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  border-radius: 3px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.support a {
    margin: 15px;
}

.author-content th {
    font-weight: 1000;
    padding-right: 20px;
}

.author-content th, .author-content td {
        padding-top: 10px;
}

.author {
    position: relative;
    display: inline-block;
    text-decoration: underline;
}

.author p {
    margin-bottom: 0;
}

.author-container, .journal, .source {
    color: #8a8989;
    font-weight: 400;
}

.author-container{
    margin-bottom: 1em;
}

.author-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: max-content;
    padding: 1.5em;
    z-index: 10;
    box-shadow: 0px 4px 9px -7px rgb(0,0,0,0.4);
    border: 1px solid #ced4da;
    /* transition: .4s ease-out; */
}

.author:hover .author-content {
    display: block;
    /* transition: .4s ease-in; */
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    display: block;
    text-align: left;
    font-size: 1.2em;
    padding: .8em;
  }

  .header-right {
    float: right;
  }

  body {
      position: absolute;
  }
}

[v-cloak] {
    display: none
}
