{% load static %}

<!DOCTYPE html PUBLIC "//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>CovidSeer</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb/mdb.lite.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
	{% block css %}{% endblock %}
</head>

	<div class="header">
		<a href="https://csxstatic.ist.psu.edu/home" target="_blank">About</a>
	  <div class="header-right">
	    <a  href="http://heisenberg.ist.psu.edu:8000/">Home</a>
	    <a  href="https://csxstatic.ist.psu.edu/people/team" target="_blank">Team</a>
	    <a href="https://www.kaggle.com/allen-institute-for-ai/CORD-19-research-challenge" target="_blank">Data</a>
	    <a href="https://csxstatic.ist.psu.edu/contact/" target="_blank">Contact</a>
	  </div>
	</div>
	<body>
    	<div class="container-fluid">
			<div class="content col-lg-9">
                {% block content %}{% endblock %}
			</div>
	    </div>
	</body>
	<footer class="footer-distributed">
	            <div class="footer-left">
	                <img src="{% static 'img/footer_logo.png' %}" width="510" height="150">
		            <div class="elasticsearch">
			            <img src="{% static 'img/elasticsearch_logo.png' %}">
		            </div>
		            <p class="footer-links">
	                    <a href="/privacy-policy">Privacy Policy</a>
	                    ·
	                    <a href="/help">Help</a>
	                    ·
	                    <a href="https://github.com/SeerLabs/CiteSeerX">Source</a>
	                    ·
	                    <a href="/contact">Contact Us</a>
	                </p>
	                <p class="footer-company-name">Developed at and hosted by <a href="http://ist.psu.edu/">The College of Information Sciences and Technology</a></p><br>
	                <p class="footer-company-name"><a href="https://www.psu.edu/">Pennsylvania State University</a> © 2007-2016</p>
	            </div>
	            <div class="footer-center">
	                <div>
			    <div>
	                        <i class="fa fa-map-marker"></i>
	                        <p><span>Westgate Building</span>
				   Pennsylvania State University
				   <br>University Park, PA 16802
				</p>
			    </div>
	                    <div>
	                        <i class="fa fa-phone"></i>
	                        <p>+(814) 865 7884</p>
	                    </div>
	                </div>
	        </div>
	</footer>

	<script src="https://kit.fontawesome.com/e80c85a2cc.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    {% block javascript %}{% endblock %}
</html>
