{% extends "seer/base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/document.css' %}">
	<!--<link rel="stylesheet" href="{% static 'css/jsonview.css' %}">-->
{% endblock %}

{% block content %}
	<div class="container">
		<div class="document-container col-md-11">
			<div id="search-container">
				<a href="{% url 'home' %}">
					<img src="{% static "img/covidseer_logo.png" %}" alt="CoronaSeer Logo"  height="80"/>
				</a>
		        <form method="post" action="{% url 'search' %}">
		            {% csrf_token %}
			        <div class="search-bar-wrapper">
				            <input type="text" name="q" id="search-box" class='form-control' value="{{ q }}"/>
				            <input type="hidden" name="type" id="q_type" value="Figures"/>
					        <button type="submit" value="Search" class="search-button btn">
						        <i class="fas fa-search"></i>
					        </button>
			        </div>
		        <br/>
		        </form>
			</div>
	
			<div style="width: 100%;"><a href="javascript:history.back()">Back to Results</a></div>
			<div><h1 id="document-title">{{ title }}</h1></div>
			<div class="author-container">
                {% for author in authors %}
                    <div class="author">
	                    {{author.name}}
                        <div class="author-content">
	                        <h5>{{ author.name }}</h5>
	                        <table>
		                        <tr>
			                        <th>Location:</th>
			                        <td>{{ author.location }}</td>
		                        </tr>
		                        <tr>
			                        <th>Institution:</th>
			                        <td>{{ author.institution }}</td>
		                        </tr>
		                        <tr>
			                        <th>Laboratory:</th>
			                        <td>{{ author.laboratory }}</td>
		                        </tr>
	                        </table>
                        </div>
                    </div>{% if forloop.counter < authors|length %}, {% endif %}
                {% endfor %}
             </div>
			<a class="btn btn-grey" href="{% url 'document_json' document_id=docId %}"style="margin-left: 0; margin-bottom: 5vh;">View as JSON</a>
			<!--
			<div class="row">
				<h3>Authors</h3>
					<div class="author-container">
						{% for author in authors %}
						<div class="author">
							<div class="author-info">
								<h5>{{ author.name }}</h5>
								<p>{{ author.institution }}</p>
								<p>{{ author.laboratory }}</p>
								<p>{{ author.location.settlement }}, {{ author.location.region }}, {{ author.location.country }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
			</div>
			-->
			<div style="width: 100%;"><h3>Abstract</h3></div>
			<div><p>{{ abstract }}</p></div>
			<div><h3>Body</h3></div>
			<div id="doc-body"><p>{{ body }}</p></div>
			<a id="show-hide" role="button">Read more</a>
		</div>
		<div class="json"></div>
	</div>
{% endblock %}

{% block javascript %}
	<script>
		var height = $('#doc-body')[0].scrollHeight;
		var show = true;
		
		$('#show-hide').click(function(e) {
		    e.stopPropagation();
		    $('#doc-body').animate({
		        'height': height
		    });
			$('#show-hide').hide();
		});
	</script>
{% endblock %}
